- name: .github
  type: directory
  children:
    - name: actions
      type: directory
      children:
        - name: python_setup
          type: directory
          children:
            - name: action
              type: file
              extension: .yml
    - name: workflows
      type: directory
      children:
        - name: test_lint
          type: file
          extension: .yml