- name: exceptions
  type: python-module
  children:
    - name: domain_error
      type: python-file
    - name: incorrect_value_type_error
      type: python-file
    - name: invalid_negative_value_error
      type: python-file
    - name: invalid_id_format_error
      type: python-file
    - name: required_value_error
      type: python-file
- name: value_object
  type: python-module
  children:
    - name: value_object
      type: python-file
    - name: string_value_object
      type: python-file
    - name: int_value_object
      type: python-file
    - name: uuid
      type: python-file