{% import "macros.j2" as macros with context %}
{%- set source_features = [
  {"feature": "value_objects", "template": "errors.yml.j2"},
  {"feature": "event_bus", "template": "events/event_bus_domain.yml.j2"},
  {"feature": "event_bus", "template": "events/event_bus_infra.yml.j2"},
  {"feature": "logger", "template": "logger.yml.j2"},
  {"feature": "async_sqlalchemy", "template": "persistence/async_sqlalchemy.yml.j2"},
  {"feature": "async_alembic", "template": "persistence/alembic_migrator.yml.j2"},
  {"feature": "fastapi_application", "template": "fastapi/fastapi_app.yml.j2"},
  {"feature": "fastapi_application", "template": "fastapi/fastapi_infra.yml.j2"},
  {"feature": "fastapi_application", "template": "fastapi/fastapi_domain.yml.j2"}
] %}
{{ macros.render_children_for(source_features, 2) }}