{% import "macros.j2" as macros with context %}
{%- set test_features = [
  {"feature": "async_sqlalchemy", "template": "persistence/async_engine_conftest.yml.j2"},
  {"feature": "event_bus", "template": "standard_project/layers/test_event_bus.yml.j2"}
] %}
{{ macros.render_children_for(test_features, 2) }}