{% import "macros.j2" as macros with context %}
{%- set domain_features = [
  {"feature": "value_objects", "template": "value_objects.yml.j2"},
  {"feature": "event_bus", "template": "events/event_bus_domain.yml.j2"},
  {"feature": "fastapi_application", "template": "fastapi/fastapi_domain.yml.j2"}
] %}
- name: domain
  type: directory
  python: True
{{ macros.render_children_for(domain_features, 2) }}