{% import "macros.j2" as macros with context %}
- name: shared
  type: directory
  python: True
  children:
{{ macros.include_block("domain_driven_design/layers/test_shared_delivery.yml.j2", 4) }}
{{ macros.include_block("domain_driven_design/layers/test_shared_domain.yml.j2", 4) }}
{{ macros.include_block("domain_driven_design/layers/test_shared_infra.yml.j2", 4) }}