root:
  - name: {{ source_name }}
    type: python-module
    children:
      - name: shared
        type: python-module
        {% if common_ddd_objects %}
        children:
          {% set populated_shared -%}
          {% include "domain_driven_design/populated_shared.yml.j2" %}
          {%- endset %}
          {{ populated_shared | indent(10) }}
        {% endif %}
      {% set context -%}
      {% include "domain_driven_design/bounded_context.yml.j2" %}
      {%- endset %}
      {{ context | indent(6) }}
  - name: test
    type: python-module
    children:
      - name: shared
        type: python-module
        children:
          - name: domain
            type: python-module
            children:
              - name: random_generator
                type: python-file
      {% set context -%}
      {% include "domain_driven_design/bounded_context.yml.j2" %}
      {%- endset %}
      {{ context | indent(6) }}
