{% import "macros.j2" as macros with context %}
- name: test
  type: directory
  python: True
  children:
    - name: shared
      type: directory
      python: True
      children:
        - name: delivery
          type: directory
          python: True
        - name: domain
          type: directory
          python: True
        - name: infra
          type: directory
          python: True
          {% if ["event_bus", "async_sqlalchemy"] | is_in(template.built_in_features) %}
          children:
            {% if "event_bus" in template.built_in_features %}
            - name: mock_event_bus
              type: file
              extension: .py
              template: event_bus/mock_event_bus.py
            {% endif %}
            {% if "async_sqlalchemy" in template.built_in_features %}
            - name: conftest
              type: file
              extension: .py
              template: persistence/async/async_engine_fixture.py
            {% endif %}
          {% endif %}
    {% if template.specify_bounded_context %}
    {{ macros.include_and_indent("domain_driven_design/bounded_context.yml.j2", 4) }}
    {% endif %}